@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-foreground: var(--foreground);

  --color-token-usdc: var(--token-usdc);
  --color-token-usdt: var(--token-usdt);
  --color-token-usde: var(--token-usde);

  --color-chain-mainnet: var(--chain-mainnet);
  --color-chain-arbitrum: var(--chain-arbitrum);
  --color-chain-base: var(--chain-base);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  :root {
    --background: #f3f4f6;
    --surface: #fefefc;
    --foreground: #171717;

    --token-usdc: #57728f;
    --token-usdt: #50af95;
    --token-usde: #262626;

    --chain-mainnet: #393939;
    --chain-arbitrum: #213147;
    --chain-base: #0000ff;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  }

  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-semibold text-gray-600;
  }

  h3 {
    @apply text-lg font-semibold uppercase;
  }
}

@layer components {
  .data-table {
    @apply w-full;

    th {
      @apply border-b border-gray-300 pb-3 text-left text-sm font-medium uppercase;
    }

    tbody {
      @apply divide-y divide-gray-200;
    }

    td {
      @apply py-4;
    }
  }
}